.article_recent_post {
    display: flex;
}
.article_ad_im img {
    width: 80%;
    margin: 50px auto;
    display: table;
}
.article_0{
    background: #fff;
    display: inline-block;
    padding: 0;
    margin: 40px 0 100px 0;
    box-shadow: 0 0 5px #c1c1c1;
}