.exclusive_video .exclusive_video_h2 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.34px;
    color: #EC2847;
    margin-bottom: 40px;
}
.exclusive_ad p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.34px;
    color: #1D1D1D;
}
.exclusive_video_container{display: flex;}
.exclusive_video_logo {
    padding: 20px 0 10px;
}
.exclusive_ad {
    padding: 10px 0 10px;
}