.PrivacyPolicy h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    color: #212121;
    margin-top: 100px;
}
.PrivacyPolicy {
    width: 70%;
    margin: 0 auto;
}
.PrivacyPolicy_user img {
    width: 40px;
    float: left;
}
.PrivacyPolicy_user {
    display: inline-block;
    width: 100%;
    padding: 30px 0px 30px 50px;
    margin: 0 auto;
}
.PrivacyPolicy_user span {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
    padding-right: 15px;
}
.PrivacyPolicy_user span {
    float: left;
    padding: 10px;
}
.PrivacyPolicy .ful {
    width: 100%;
}
.PrivacyPolicy p{font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding: 10px 0 10px 0;
    color: #444444;}
.PrivacyPolicy_twitter{margin:0 auto;display: table;}