.privacy_policy_right .Breaking_New {
    width: 75%;margin: 0px;
}
.privacy_policy_sidebar {
    margin-left: 25px;
}
.privacy_policy_newsletter {
    padding-top: 50px;
}
.trending_truth_row_ad_height .banner {
    padding: 0px;
}
