.prev_next {
    display: flex;
    padding: 30px 0 30px 0;
    margin-top: 30px;
}
.prev_next h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #465561;
}
.prev_next_left p {
    position: relative;
    padding: 15px 0 0px 30px;
}
.prev_right p {
    font-weight: 700;
}
.prev_right {
    margin-left: 100px;
}