.JustPostTitleDate h1 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    padding-bottom: 5px;
}
.JustPostTitleDate .justPostDate span {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin-right: 10px;
}
.JustPostTitleDate {
    margin-bottom: 20px;
}
.right_side_bottom {
    margin-top: 50px;
    background: #fff;
    display: inline-block;
    padding: 25px;
    box-shadow: 0 0 5px #c1c1c1;
    margin-left: 15px;
}
.just_title {
    padding: 5px 0 10px 0;
}
.social_adver {
    padding: 20px 0px 50px 0px;
    margin-left: 15px;
}
.social_adver img{width: 100%;}
.column_sixth{background: #fff;
    display: inline-block;
    padding: 25px;
    box-shadow: 0 0 5px #c1c1c1;
    margin-left: 15px;}
.column_third{
    padding: 0px;
}
.column_th{
    background: #fff;
    display: inline-block;
    padding: 25px;
    box-shadow: 0 0 5px #c1c1c1;
}
footer.footer {
    padding-top: 100px;
}