.featuredStories h2 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.6px;
    color: #000000;
    padding: 20px 0px 10px;
}
.featuredStories_usre_data span {
    font-family: Open Sans;
    font-style: normal;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 10px;
}
.featuredStories_usre_data .user{font-weight: bold;}