.FeaturedTextImage {
    display: flex;
    padding: 30px 0 0 0;
}
.FeaturedTextImage h2 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.48px;
    color: #0C120C;
    padding-bottom: 5px;
}
.FeaturedTextImage_usre_data .user{
color:#045973; font-weight: bold;
}
.FeaturedTextImage_usre_data span{
font-family: Open Sans;
font-style: normal;
font-size: 11px;
line-height: 22px;
text-transform: uppercase;
color: #A0A0A0;
margin-right: 10px;
}
.FeaturedTextImage div, .featuredStories img, .FeaturedTextImage_img img {
    width: 100%;
}
.FeaturedTextImage_img {
    width: 80%;
}
.featured_block_data {
    border-top: 2px solid #eee;
    padding-bottom: 20px;
}
.featuredStories {
    padding-bottom: 30px;
}
.featured_block .h2, .most_recent .h2{
font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 24px;
letter-spacing: 0.34px;
color: #EC2847;
margin-bottom: 40px;
}