.lastest_post ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.lastest_post ul li img {
    width: 100%;
}
.lastest_post ul li {
    width: 100%;
    float: left;
    padding: 30px;
}
.lastest_post .latest_post_content h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.32px;
    color: #212121;padding: 10px 0 15px 0;    
}
.lastest_post .latest_post_content p{
font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
color: #393F3F;
}
.lastest_post .latest_post_content .date_user span {
    width: auto;
    float: left;
    margin-right: 50px;
}
.lastest_post .latest_post_content .date_user {
    width: 100%;
    padding-top: 15px;
}

.lastest_post .latest_post_content .date_user span{
    position: relative;
}
.lastest_post .latest_post_content .date_user span, .lastest_post .latest_post_content .date_user p{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
 }
 .lastest_post .latest_post_content .date_user span b{
 color:#005AB5;
 }
 .lastest_post h3 {
    margin: 0;
}
.top_news{display: flex;}
.Breaking_New h2:after {
    width: 10%;
    content: '';
    height: 2px;
    background: #005ab5;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.Breaking_New h2 {
    position: relative;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    width: 100%;color:#005ab5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
}

@media(max-width:414px){
    section.menu.footer_menu ul li a {
        font-size: 12px;
        line-height: 26px;
    }
    .lastest_post .latest_post_content {
        bottom: 25px;
    }
    .lastest_post .latest_post_content h2{
        font-size: 18px;
    line-height: 20px;
    }
    .lastest_post ul li img {
        width: 100%;
        height: 350px;
    }
    .lastest_post ul li {
        margin: 0px auto 20px;
    }
    .footer_menu ul {
        text-align: center;
    }
    .copyright_social {
        display: table;
        width: 90%;
        margin: 20px auto 0px;
    }
    .footer .footer_logo img {
        padding-left: 20px;
    }
}

@media(max-width:320px){

    .lastest_post .latest_post_content h2, .JustPostTitleDate h1{
        font-size: 20px;
        line-height: 25px;
    }
    footer.footer {
        padding: 2rem 0rem 2rem;
    }
    
    .social {
        margin-top: 10px;
    }
}