.Article3Page {
    display: flex;
    margin-top: 40px;
}
.Article3Page_col3 {
    background: #fff;
    display: inline-block;
    padding: 25px;
    box-shadow: 0 0 5px #c1c1c1;
}
.Article3Page_col3 h3 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.34px;
    color: #EC2847;
    margin-bottom: 40px;
}
.privacy_post {
    padding: 50px 0 100px 0;
}
