.Heading{
    font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 27.9339px;
line-height: 35px;
}
.date{
    font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 9.77686px;
line-height: 13px;
letter-spacing: 0.698347px;
color: #5D738D;
}
.Article3Page h5 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 27.9339px;
    line-height: 35px;
    color: #222222;
}
.NewsArticle_user_img img {
    width: 100%;
}
.social_sharing_div{display: flex;padding-top: 30px;}
.NewsArticle p{font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #222222;
padding-bottom: 15px;
}
.NewsArticle .admin_data {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 9.77686px;
    line-height: 13px;
    letter-spacing: 0.698347px;
    color: #5D738D;
    position:absolute;bottom: -10px;padding: 0px;
}
.social_sharing_div_content img{width: 100%;}
.exclusive_video_h2 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.34px;
    color: #EC2847;
    margin-bottom: 40px
}