.MostRecentTextIma h2{
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;
color: #0C120C;
}
.MostRecentTextImage span {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #0C120C;
    opacity: 0.5;
}
.MostRecentTextImage {
    display: flex;
}
.MostRecentTextImage img {
    height: 80px;
    margin-right: 15px;
    object-fit: contain;
}
.most_recent_data {
    border-top: 1px solid #E3E3E3;
    padding: 20px 0 20px;
}
.most_recent{
background: #fff;
    display: inline-block;
    padding: 25px;
    box-shadow: 0 0 5px #c1c1c1;
    margin-left: 15px;
}

