.article1_page{display: flex;margin-top: 30px;}
.article1_page_left_panel{background: #fff;
    display: inline-block;
    padding: 0;margin-bottom: 100px;   box-shadow: 0 0 5px #c1c1c1;}
.NewsArticle span {
        padding-left: 15px;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        color: #5D738D;
}
.article_ad, .article_ad_post{display: flex;}
.NewsArticle {
    padding: 20px 0 0px 10px;
}
.article_custom_add img {
    width: 100%;
    padding: 25px;
}
.sidebar_ad{padding: 15px;}
.article_ad_post {
    margin-bottom: 20px;
}